protocol: cMD
solvent: implicit
dynamics: {timestep_fs: 2.0, temperature_K: 300.0, seed: 3, tau: 0.0}
stages: {minimization_iterations: 1000, restrained_nvt_steps: 10000, restrained_npt_steps: 0, unrestrained_npt_steps: 0, production_steps: 500000000}
reporting: {crd_printout_solute: 2500, crd_printout_whole: 0, info_printout: 50000, checkpoint_printout: 500000}
